*.pyc
src/__pycache__/*
plots/*
./venv/

# Ignoring ros2 build, log and install folders
build/
log/
install/
.devcontainer/*
build/*
install/*
log/*
src/senfuslib/__pycache__/*
src/senfuslib/__pycache__/sensor_model.cpython-312.pyc
datasets/*