*.pyc
src/__pycache__/*
./venv/

# Ignoring ros2 build, log and install folders
build/
log/
install/
.devcontainer/*
build/*
install/*
log/*
src/senfuslib/__pycache__/*
src/senfuslib/__pycache__/sensor_model.cpython-312.pyc
datasets/*
results_exp1_cv_tuning_fixed/*
results_exp2_range_scale_tuning_notMC/*
results_old/*
plots_old/*
results2/*
